@model IEnumerable<BeautySalon.Data.Models.Employee>


@{
    ViewData["Title"] = "Index";
}

<h1>Работники</h1>

<p>
    <a class="btn btn-primary" asp-action="Create" asp-controller="ViewModels">Добавить работника</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Номер телефона</th>
        <th>Должности</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FathersName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @foreach (var itemPos in item.EmployeesOnPositions)
                {
                    <li>
                        @Html.DisplayFor(modelItem => itemPos.Pos.Name)
                    </li>
                }

            </td>
            <td>
                @* <a asp-action="AddPos" asp-controller="ViewModels" asp-route-id="@item.Id">Изменить должности</a> | *@
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                @* <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a> | *@
                <a asp-action="ViewSchedule" asp-controller="ViewModels" asp-route-empid="@item.Id">Расписание</a> |
                <a asp-action="GetEmpsServices" asp-route-empid="@item.Id">Услуги</a>
            </td>
        </tr>
    }
    </tbody>
</table>