@model BeautySalon.Data.Models.Schedule

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>Вы уверены, что хотите удалить окно?</h3>
<div>
    <h4>Расписание</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Дата
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            Работник
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emp.Surname)
            @Html.DisplayFor(model => model.Emp.Name)
            @Html.DisplayFor(model => model.Emp.FathersName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="ViewSchedule" asp-controller="ViewModels" asp-route-empid="@Model.Empid">Вернуться к списку</a>
    </form>
</div>
