@model IEnumerable<BeautySalon.Data.Models.Schedule>

@{
    ViewData["Title"] = "Расписание";
}

<h1>Расписание</h1>

<p>
    <a asp-action="Create">Создать новое</a>
</p>
<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Имя: </label>
        <input name="name" class="form-control" />
 
        <label class="control-label">Компания: </label>
        <select name="company" asp-items="ViewBag.Employees" class="form-control"></select>
 
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Статус</th>
            <th>Работник</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp.Surname)
                @Html.DisplayFor(modelItem => item.Emp.Name)
                @Html.DisplayFor(modelItem => item.Emp.FathersName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
