@model IEnumerable<BeautySalon.Data.Models.Client>

@{
    ViewData["Title"] = "Клиенты";
}

<h1>Клиенты</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Добавить клиента</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Номер телефона</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FathersName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
            <a asp-action="ClientServices" asp-controller="ViewModels" asp-route-cliid="@item.Id">Услуги</a> |
            <a asp-action="SelectService" asp-controller="ViewModels" asp-route-cliid="@item.Id">Записать на услугу</a>
        </td>
    </tr>
}
    </tbody>
</table>
