@model BeautySalon.Data.Models.ViewModel

@{
    ViewData["Title"] = "Редактирование должностей";
}

<h1>Редактирование</h1>

<h4>Должности работника</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPos">
            <div class="form-group">
                <i>
                @Html.DisplayFor(modelItem => modelItem.Employee.Surname)
                @Html.DisplayFor(modelItem => modelItem.Employee.Name)
                @Html.DisplayFor(modelItem => modelItem.Employee.FathersName)
                </i>
            </div>
            <div class="form-group">
                @Html.DisplayFor(modelItem => modelItem.Employee.Phone)
            </div>
            <div class="form-group">
                @foreach (var itemPos in Model.Employee.EmployeesOnPositions)
                {
                    <li>
                        <a asp-action="DelPos" asp-route-empid="@itemPos.Empid" asp-route-posid="@itemPos.Posid">Удалить</a>
                        @Html.DisplayFor(modelItem => itemPos.Pos.Name)
                    </li>
                }
            </div>
            <div class="form-group">
                Должность
                <select asp-for="EmployeesOnPosition.Posid" class="form-control" asp-items="ViewBag.Pos"></select>
                <span asp-validation-for="EmployeesOnPosition.Posid" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Добавить должность" class="btn btn-primary"/>
            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Employees">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}