@model BeautySalon.Data.Models.ViewModel

@{
    ViewData["Title"] = "SelectService";
}
<h1>Запись на услугу</h1>
<hr />

<dl class="row">
    <dt class = "col-sm-2">
        Клиент
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(item=>@Model.Client.Surname)
        @Html.DisplayFor(item=>@Model.Client.Name)
        @Html.DisplayFor(item=>@Model.Client.FathersName)
    </dd>
    <dt class = "col-sm-2">
        Услуга
    </dt>
    
    <form asp-action="SelectService">
        <dd class = "col-sm-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="Serviceprovision.Serid" class="form-control" asp-items="ViewBag.Serid"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </dd>
    </form>
</dl>

<div>
    <a asp-action="Index" asp-controller="Clients">Вернуться к списку</a>
</div>


